<div class="flex justify-center w-full mb-0">
  <mat-accordion class="w-4/5">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Busqueda por nombre </mat-panel-title>
        <mat-panel-description> Ingresa un nombre para realizar tu busqueda </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="w-4/5">
        <mat-label>Ingresa un nombre</mat-label>
        <input matInput placeholder="Nombre">
      </mat-form-field>
      <button mat-flat-button class="mt-6">Buscar</button>
    </mat-expansion-panel>


    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Busqueda por CUI</mat-panel-title>
        <mat-panel-description> Realiza tu busqueda ingresando un numero de DPI </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="w-4/5">
        <mat-label>Ingresa el numero de cui</mat-label>
        <input matInput placeholder="Numero de cui">
      </mat-form-field>
      <button mat-flat-button>Buscar</button>
    </mat-expansion-panel>


    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Busqueda por expediente MP</mat-panel-title>
        <mat-panel-description> Realiza una busqueda ingresando el numero de caso MP </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="w-4/5">
        <mat-label>Ingresa un nombre</mat-label>
        <input matInput placeholder="Nombre">
      </mat-form-field>
      <button mat-flat-button>Buscar</button>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Busqueda por expediente DEIC</mat-panel-title>
        <mat-panel-description> Realiza una busqueda ingresando el numero de caso DEIC</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="w-4/5">
        <mat-label>Ingresa un nombre</mat-label>
        <input matInput placeholder="Nombre">
      </mat-form-field>
      <button mat-flat-button>Buscar</button>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Busqueda por Alerta Alba-Keneth</mat-panel-title>
        <mat-panel-description> Realiza una busqueda ingresando el numero de alerta </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="w-4/5">
        <mat-label>Ingresa un nombre</mat-label>
        <input matInput placeholder="Nombre">
      </mat-form-field>
      <button mat-flat-button>Buscar</button>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Busqueda por rango de fechas</mat-panel-title>
        <mat-panel-description> Realiza una busqueda ingresando un rago de fechas </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Ingresa un rango de fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Fecha Inicial">
          <input matEndDate placeholder="Fecha Final">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button mat-flat-button>Buscar</button>
    </mat-expansion-panel>
  </mat-accordion>

</div>

<div class="flex justify-center items-center ">
  <!-- Contenedor Principal -->
  <div class="w-4/5 bg-gray-100 shadow-lg rounded-lg p-6">
    <!-- Resultados de Búsqueda -->
    <h2 class="text-2xl font-bold text-center mb-6">Resultados de Búsqueda</h2>

    <div class="space-y-4">
      <!-- Resultado 1 -->
      <mat-card class="flex justify-between items-center p-4">
        <div class="text-lg font-medium">Nombre: Anner Ronaldo Escobar Cruz</div>
        <button mat-flat-button color="primary">Ver Perfil</button>
      </mat-card>

      <!-- Resultado 2 -->
      <mat-card class="flex justify-between items-center p-4">
        <div class="text-lg font-medium">Expediente MP: M0030-2024-1</div>
        <button mat-flat-button color="accent">Descargar</button>
      </mat-card>

      <!-- Resultado 3 -->
      <mat-card class="flex justify-between items-center p-4">
        <div class="text-lg font-medium">Nombre: Karen Julissa Morales Reyes</div>
        <button mat-flat-button color="primary">Ver Perfil</button>
      </mat-card>
    </div>
  </div>
</div>

