<div class="bg-blue-100 border-2 p-5 h-full w-full">

  <mat-card class="">
    <mat-card-header class="">
      <mat-card-title>Anner Ronaldo Escobar Cruz</mat-card-title>
      <mat-card-subtitle>Datos obtenidos a traves de investigaciones</mat-card-subtitle>
    </mat-card-header>
    <div class="justify-items-center">
      <img  class=" w-48 h-48 rounded-full border-4 border-blue-800 "
        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>Informacion</mat-card-content>
    </div>

    <mat-divider></mat-divider>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
      <!-- Columna 1 -->
      <div class="bg-white shadow-lg rounded-lg p-4">
        <h1 class="text-xl font-semibold mb-4">Datos personales</h1>
        <ul class="space-y-2">
          <li><strong>Nombre:</strong> Anner Ronaldo Escobar Cruz</li>
          <li><strong>Cui:</strong> 3423354132201</li>
          <li><strong>Nacionalidad:</strong> Guatemalteco</li>
          <li><strong>Fecha Nac:</strong> 05/09/1997</li>
          <li><strong>Edad:</strong> 28 años</li>
          <li><strong>Teléfono:</strong> 41284104</li>
          <li><strong>Departamento:</strong> Jutiapa</li>
          <li><strong>Dirección:</strong> Calle Principal zona 0, Aldea Sitio Viejo, Jutiapa, Jutiapa</li>
        </ul>
      </div>

      <!-- Columna 2 -->
      <div class="bg-white shadow-lg rounded-lg p-4">
        <h1 class="text-xl font-semibold mb-4">Casos relacionados</h1>
        <ul class="space-y-2">
          <li class="flex items-center justify-between">
            <span>M0030-2024-1</span>
            <button mat-flat-button>Download</button>
          </li>
          <li class="flex items-center justify-between">
            <span>M0030-2024-1</span>
            <button mat-flat-button>Download</button>
          </li>
          <li class="flex items-center justify-between">
            <span>M0030-2024-1</span>
            <button mat-flat-button>Download</button>
          </li>
        </ul>
      </div>
    </div>

  </mat-card>



</div>
