<div class="bg-blue-100 border-2 p-5 h-full w-full">

<mat-card class="">
    <mat-card-header class="">
        <mat-card-title>Anner Ronaldo Escobar Cruz</mat-card-title>
        <mat-card-subtitle>Datos obtenidos a traves de investigaciones</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image w-72 h-72 rounded-full border-4 border-blue-800 " src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>Informacion</mat-card-content>
    <!-- <mat-card-actions align="end">
        <button mat-button >Action1</button>
    </mat-card-actions> -->
    <mat-divider></mat-divider>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <ul>
          <h1>Datos personales</h1>
          <br>
          <li>Nombre: Anner Ronaldo Escobar Cruz</li>
          <li>Cui: 3423354132201</li>
          <li>Nacionalidad: Guatemalteco</li>
          <li>fecha Nac_: 05/09/1997</li>
          <li>Edad:28 años</li>
          <li>Departamento: Jutiapa</li>
          <li>Direccion: Calle Principal zona 0, Aldea Sitio Viejo, Jutiapa, Jutiapa</li>
        </ul>
      </mat-grid-tile>
      <mat-grid-tile>

        <ul>
        <h1>Casos relacionados</h1>
        <li>M0030-2024-1</li>
        </ul>

      </mat-grid-tile>
    </mat-grid-list>


</mat-card>



</div>
