/* Estilos para cargar el archivo */
.file-upload-card {
  margin: 1rem 1.5rem;
  padding: 1rem;
}

mat-card-title {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  gap: 0.5rem;
}

.file-preview {
  margin-top: 1rem;
  font-size: 0.95rem;
}

.text-muted {
  color: rgba(0, 0, 0, 0.5);
}

.dark-theme .text-muted {
  color: rgba(255, 255, 255, 0.5);
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Overlay con el spinner */
.form-container.loading .overlay {
  position: absolute;
  border-radius: 1%;
  inset:0;
  top: 0;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

mat-spinner {
  height: auto;
  /* Ajusta el tamaño del spinner según tus necesidades */
}

.form-container {
  position: relative;
  /* ...tus demás reglas... */
}
