<mat-card class="p-4 m-6">
  <h2>Seguimiento - Caso de Maltrato</h2>

  <form [formGroup]="seguimientoForm" (ngSubmit)="enviarSeguimiento()">

    <mat-form-field class="w-full">
      <mat-label>Número DEIC</mat-label>
      <input matInput formControlName="numeroDeic">
    </mat-form-field>

    <div class="w-full flex justify-center mb-4">
      <button mat-raised-button color="primary" type="button" (click)="buscarCaso()" class="">Buscar Caso</button>
    </div>

    <div *ngIf="casoEncontrado">
      <p><strong>Víctima:</strong> {{ casoEncontrado.victimas.nombre }}</p>
      <p><strong>Edad:</strong> {{ casoEncontrado.edad }}</p>
      <p><strong>Estado actual:</strong> {{ casoEncontrado.estadoInvestigacion }}</p>

      <mat-form-field class="w-full mt-4" appearance="fill">
        <mat-label>Nuevo estado</mat-label>
        <mat-select formControlName="nuevoEstado">
          <mat-option value="Informado">Informado</mat-option>
          <mat-option value="Desestimado">Desestimado</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- NO usar mat-form-field con type="file" -->
      <div class="w-full m-4 p-2">
        <label>Archivo de seguimiento:</label>
        <input type="file" (change)="onFileChange($event)" accept=".pdf,.doc,.docx" multiple>
      </div>

      <div class="w-full flex justify-center mb-4">
        <button mat-raised-button color="accent" type="submit" [disabled]="!seguimientoForm.valid">
          Enviar seguimiento
        </button>
      </div>
    </div>
  </form>
</mat-card>
