<mat-drawer-container class="layout-container">

  <mat-drawer #sidenav
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="opened"
    [style.width]="collapsed && !isHandset ? '64px' : '280px'">

    <app-sidenav [collapsed]="collapsed"></app-sidenav>

  </mat-drawer>

  <mat-drawer-content class="drawer-content">
    <div class="toolbar">
      <button mat-icon-button (click)="onToggle(sidenav)" class="toggle-btn">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="page-content">
      <router-outlet />
    </div>
  </mat-drawer-content>

</mat-drawer-container>
