<div class="stats-container">

  <!-- spinner-overlay -->
  <div class="overlay-stats" *ngIf="isLoading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>



<div class="grid gap-5 w-full h-full grid-rows-[auto_auto_1fr] grid-cols-1">
  <div class="w-full h-36 p-4 gap-5 grid grid-cols-2 md:grid-cols-6">
    @for (tag of exps; track $index) {
      <mat-card class="w-44 h-full">
        <mat-card-header class="justify-center text-center">
          <mat-card-subtitle>{{ tag.tag }}</mat-card-subtitle>
          <mat-card-title>{{ tag.amount || 0 }}</mat-card-title>
        </mat-card-header>
      </mat-card>
    }
  </div>


 <div class="border-2 w-full h-96 p-4 my-4">
  <div id="barChart" style="padding-top: 100px;" >
    <apx-chart
      #barChart
      [series]="barChartOptions.series"
      [chart]="barChartOptions.chart"
      [xaxis]="barChartOptions.xaxis"
      [title]="barChartOptions.title"
    ></apx-chart>
  </div>
</div>

<div class="border-2 w-full h-96 p-4 my-4 flex flex-col justify-center">
  <h6 class="font-bold pb-4 text-left">Estadística de alertas</h6>
  <div id="donutChart" class="w-full flex justify-center">
    <apx-chart
      #donutChart
      [series]="donutChartOptions.series"
      [chart]="donutChartOptions.chart"
      [labels]="donutChartOptions.labels"
      [responsive]="donutChartOptions.responsive"
    ></apx-chart>
  </div>
</div>


</div>
</div>
