<div id="menu" class="flex flex-col h-screen overflow-y-auto z-10 text-slate-300 md:w-full" style="color: #F2EFE7;">


  <div id="logo" class="my-2 p-5">
    <h1 class="text-lg md:text-2xl font-bold text-black">Niñez y Adolescencia<span class="text-blue-500"> V1</span>.
    </h1>
    <p class="text-slate-500 text-sm">Sistema de Administracion de casos</p>
  </div>

  <div id="nav" class="flex-1 w-full px-6">

    <mat-nav-list>
      @for (item of menuItems; track $index) {
      <mat-expansion-panel class="mat-elevation-z0" [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-2">{{ item.icon }}</mat-icon>
            {{ item.title }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-container *ngFor="let sub of item.children">
          <a mat-list-item [routerLink]="sub.path" routerLinkActive="active-link"
            class="submenu-link flex items-center justify-between">
            <mat-icon class="submenu-icon mr-2">chevron_right</mat-icon>
            <span class="flex items-center">
              {{ sub.title }}
              <span *ngIf="sub.badge" class="ml-2 bg-red-600 text-white text-xs rounded-full px-2 py-0.5 inline-block">
                {{ sub.badge }}
              </span>
            </span>
          </a>
        </ng-container>

      </mat-expansion-panel>
      }
    </mat-nav-list>
  </div>

  <!-- FOOTER (siempre al pie, parte del scroll) -->
  <div class="p-4 flex items-center ">
    <img
      src="https://img.freepik.com/psd-gratis/ilustracion-3d-avatar-o-perfil-humano_23-2150671122.jpg?semt=ais_hybrid"
      alt="Fotografia del perfil"
      class="w-10 h-10 rounded-full object-cover"
    />
    <div class="flex-1 ml-3">
      <div class="text-gray-900 font-medium text-sm">Juan Pérez</div>
      <div class="text-gray-500 text-xs truncate">
        juan.perezexample.com
      </div>
    </div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="settingsMenu"
      aria-label="Abrir configuraciones"
      class="text-gray-400 hover:text-gray-700"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #settingsMenu="matMenu" class="!bg-white">
      <button
        mat-menu-item
        (click)="onSettings()"
        class="flex items-center space-x-2 px-4 py-2 hover:bg-gray-50"
      >
        <mat-icon class="text-gray-600">settings</mat-icon>
        <span class="text-gray-800 text-sm">Configuraciones</span>
      </button>
           <button
        mat-menu-item
        (click)="onSettings()"
        class="flex items-center space-x-2 px-4 py-2 hover:bg-gray-50"
      >
        <mat-icon class="text-gray-600">password</mat-icon>
        <span class="text-gray-800 text-sm">Cambiar contraseña</span>
      </button>
               <button
        mat-menu-item
        (click)="onSettings()"
        class="flex items-center space-x-2 px-4 py-2 hover:bg-gray-50"
      >
        <mat-icon class="text-gray-600">close_sesion</mat-icon>
        <span class="text-gray-800 text-sm">Cerrar Sesion</span>
      </button>
    </mat-menu>
  </div>

</div>





